*{
    padding:0;
    margin:0;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.halfScreenBackground{
   z-index: 1;
width: 46%;
height: 93vh;
background-color:rgb(223, 219, 173);
}
.avater{
   
    width:50%;
    height: 50%;
    border-radius: 45%;
    margin-top:10%;
   
}
.containerDiv{
    position: absolute;
    z-index: 100;
background-color:white;
width: 70%;
height: 71%;
top:51%;
right:50%;
left:50%;
transform: translate(-50%,-50%);
display: flex;


}
.imgSection{
 position: relative;
    text-align: center;
background-color: aliceblue;
width:50%;
height: 100%;
box-shadow:   0px 0px 15px 1px;
}

.imgSection p{
    font-size: x-large;
    
}
.desh{
  width: 30%;
    height: 2px;
    border-radius: 10px;
    background-color: blue;
margin-left:36%;
margin-top:20px;
}
.imgSection .jobType{
   font-size:large;
   color: gray;
   margin-top: 10px;
}
.imgSection button{
    display: none;
   
 }
.imgSection2{

    width: 50%;
    margin-left: 20px;
    word-wrap: break-word;
    
}
.imgSection2 p{

    font-size:1.1em;
    word-wrap: break-word;
}
h1{
    font-size: 3.6em;
    margin-top:15px;
}
button{
    width: 30%;
    border-radius: 20px;
    height: 6%;
    margin: 13px 0 13px 0;
    
}
.cvbtn{
    border: 10px;
    background-color: blue;
    color:white;
}
.projectsBtn{
background-color: white;
}




.linksIcons{
    position: absolute;
    bottom: 0;
width:100%;
height: 8%;
margin-top:10%;
background-color:white;


}
.linksIcons img{
  
   margin: 1%;
    width: 30px;
    height: 30px;
    bottom: 100%;
   
}

.tooltip .tooltiptext{
  visibility: hidden;
  width: 140px;
  background-color: black;
  color: #FFF;
  text-align: center;
   border-radius: 6px;
   padding: 5px 0;

   position: absolute;
   z-index: 100;
   bottom: 100%;
   left: 50%;
   margin-left: -60px;


}
.tooltip::hover .tooltiptext{
    visibility: visible;

}

@media screen and (max-width: 800px) {

    .hideLinkInFooter,.projectsBtn,.cvBtn{
        display: none;
    }
    #projectsBtnMobile,#cvBtnMobile{
        display:inline;

    }
  
    .halfScreenBackground{
   
     height: 80px;

     }
  
  
  }



   
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        


@media screen and (max-width: 712px) {

    .halfScreenBackground{
        z-index: index none; 
     width: 46%;
     height: 93vh;
     background-color:rgb(223, 219, 173);
     }


.containerDiv{
     display: block;
    position: absolute;
    z-index: 2;
background-color:white;
width: 87%;

top:51%;
right:50%;
left:50%;
transform: translate(-50%,-50%);

}



.imgSection{
 
    text-align: center;
background-color: aliceblue;
width:100%;
height: 100%;
box-shadow:   0px 0px 15px 1px;
}


.imgSection2{

    width: 100%;
    margin-left: px;  
}
.whitespace{
    margin-bottom: 110%;
}

h1{
    margin-top: 17%;
    margin-right: 20%;

}
.imgSection2 p{

    font-size:1em;
    overflow-y: hidden;
    word-wrap: nowrap;
}
.imgSection .jobType{
    display: none;
   
 }

}
